{% load static %}
{% load women_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>busmap.naebNet</title>
    <link rel="stylesheet" href="{% static 'woman/css/style.css' %}">
</head>
<body>

    <div class="navbar">
      {% for m in mainmenu %}
            <a href="{% url m.url_name %}">{{ m.title }}</a>
        {% if forloop.last%}
            {% if user.is_authenticated %}
                <li class="last"> {{user.username}} | <a href="{% url 'users:logout' %}">Выйти</a></li>
            {% else %}
                <li class="last"><a href="{% url 'users:login' %}">Войти</a> | <a href="#">Регистрация</a></li>
            {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="vertical-menu">
        {% for cat in cats %}
            <a href='{{ cat.get_absolute_url }}'>{{cat.name}}</a>
        {% endfor %}
        <div>
            {% show_categories %}
        </div>
    </div>
    <div class="content">
      {% block content %} {% endblock %}
    </div>
</body>
</html>


